.App {
  font-family: ProximaNova,Arial,Helvetica Neue,sans-serif;
  text-transform: capitalize;
}
.wrapper{
  position: absolute;
  width: 100%;
  min-height: 100%;
}
.subway-wrap{
  width: 100%;
}
.container{
  background-color: rgb(17, 141, 81);
  padding: 50px;
  height: 170px;
}

.subway{
  padding: 0px;
  margin: auto 29%;
  height: 100%;
}
.subwayHeading{
  font-size: 35px;
  font-weight: 500;
  color: #fff;
}
.tagline{
  position: relative;
  top: 20px;
  color: #E5E7EB;
  width: 100%;
  margin-bottom: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 15px;
}
.subway-menu{
  /* height: 80%; */
  width: 600px;
  margin: auto;
}
.menu-heading{
  margin: 0;
  padding: 26px 0 32px;
  font-size: 32px;
  letter-spacing: -.3px;
  font-weight: 600;
  color: #282c3f;
}
.menu-item{
  width: 500px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 20px 10px;
  height: 150px;
}
.menu-item-detail{
  width: 70%;
  position: relative;
}
.menu-item-image{
  width: 30%;
  position: relative;
}
.vegSymb{
  position: relative;
  display: block;
  margin-bottom: 5px;
}
.subway-name{
  font-size: 1.1rem;
  font-weight: 600;
  color: #282c3f;
  margin: 10px 0;
}
.price{
  font-size: 1rem;
  margin-right: 8px;
  color: #282c3f;
}
.subway-offer{
  margin-top: 8px;
  color: #686b78;
  font-size: 13px;
  width: 90%;
  letter-spacing: 0.5px;
}
.sub-images{
  width: 150px;
  height: 120px;
  /* border: 2px solid ; */
}
.modalBtn{
  border: 1px solid #D1D5DB;
  width: 80px;
  margin: auto;
  top: -25px;
  z-index: 1;
  position: relative;
  padding: 10px;
  background-color: #fff;
}
.modalBtn:hover{
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.addBtn{
  width: 80px;
  outline: none;
  border: none;
  color: #60b246;
  background-color: #fff;
}

.hr{
  border: 1px solid #D1D5DB;
  width: 31rem;
  margin-top: -5px;
  margin-bottom: 15px;
}

/* ******************** Modal ********************** */
.modal{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  max-width: 100%;
  max-height: 100%;
  background-Color: rgba(0, 0, 0, 0.40);
}

.content-container{
  top: 80px;
  bottom: 100px;
  position: fixed;  
  /* border: 1px solid #ccc; */
  background: #fff;
}
.content{
  width: 665px;
  position: relative;
  background-color: #fff;
  border: 1px solid #ccc;
}

/******************Modal Header********************/

.content-header{
  position: relative;
  padding: 20px;
  height: 140px;
  box-shadow:0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background-color: #fff;
}
.topHeading{
  margin-bottom: 25px;
}
.subName-heading{
  display: flex;
  height: 30px;
background-color: #fff;
}
.subName{
  position: relative;
  color: #282c3f;
  width: 95%;
  font-weight: 600;
  font-size: 22px;
  text-overflow:ellipsis;
  white-space: nowrap;
  text-transform: capitalize;
  padding-left: 10px;
  /* display: flex; */
}
.amt{
 padding-left: 25px;
 color: #778899;
}
.closebtn-cont{
  position: relative;
  width: 10%;
  justify-content: flex-end;
  display: flex;
  align-items: flex-start;
}
.closebtn{
  width: 34px; 
  height: 38px;
  display: contents;
  align-items: flex-start;
  justify-items: flex-end;
}
.closeBtn{
  color: #4B5563;
  width: 25px;
  height: 25px;
}
hr{
  border: 1px dashed lightgray;
  margin-left: 10px;
}
.heading-group{
  padding: 5px 10px 7px 25px;
  color: #93959f;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;
  position: relative;
}
.subheading{
  display: inline-table;
  position: relative;
  margin-bottom: 5px;
}
.subheading:hover{
  color: #282c3f;
  text-decoration: underline;
  font-weight: 600;
}
.dot{
  font-size: 20px;
  margin-right: 8px;
}

/* ****************Modal Body ************************* */

.content-main{
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 355px;
/* background-color: #fff; */

}
.main-data{
  padding: 20px;
  padding-top: 30px;
  position: relative;
}

/* *********************Modal Footer************************ */

.content-footer{
  height: 45px;
  position: relative;
  padding: 20px;
  box-shadow:0 4px 6px 4px rgba(0, 0, 0, 0.1), 0 2px 4px 5px rgba(0, 0, 0, 0.06);

}
.amount{
  background-color: #60b246;
  position: relative;
  display: flex;
  padding: 11px 16px;
  justify-content: space-between;
}
.totalAmt{
  color: #fff;
  position: relative;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}
.addItem{
  color: #fff;
  position: relative;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}

/* ******************Button CSS ***********************/

.group-cont{
  margin-bottom: 20px;
}
.group-heading{
  color: #282c3f;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 0 10px 25px;
  position: relative;
  letter-spacing: 1px;
}
.radiobtn{
  margin: 6px;
  position: relative;
  display: inline-block;
  line-height: 2rem;
  padding-left: 23px;
  font-size: 1rem;
  transition: .28s ease;
  transform: translateZ(0);
  width: 17px; 
  height: 17px;
}
.radiobtn::before{
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  z-index: 0;
  transition: .28s ease;
  border-radius: 50%;
}
.radiobtn:checked::after{
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  color: #60b246;
  background-color: #60b246;
  visibility: visible;
  z-index: 0;
  transition: .28s ease;
  border: 1px solid #60b246;
  border-radius: 50%;
  left: 3px;
  top: 3px;
}

.btnText{
  outline: none;
  color: #282c3f;
  text-transform: capitalize;
  padding-right: 16px;
  -ms-flex: 1;
  flex: 1;
  margin-right: 9px;
  font-size: 17px;
  line-height: 2.3rem;
}
.btnText:hover{
  font-weight: 500;
}

.checkmark{
  position: relative;
  top: 4px;
  height: 20px;
  width: 20px;
  background-color: #eee;
  margin: 10px;
  cursor: pointer;
  transition: .28s ease;
  transform: translateZ(0);
}
.checkmark:checked:before{
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #60b246;
  z-index: 0;
  transition: .28s ease;
  border: 1px solid #93959f;
}
.checkmark:checked::after {
  content: "";
  position: absolute;
  background-color: #60b246;
  z-index: 0;
  border: 1px solid #60b246;
  left: 6px;
  bottom: 4px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0px 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.Option:checked ~ .checkmark::after {
  background-color: green;
}
.optional{
  color: #778899;
  margin-left: 5px;
  font-size: 14px;
}
.errMsg{
  color: brown;
  font-style: italic;
}
.Option{
  display: block;
}
.vegSymbol{
  bottom: 8px;
  position: relative;
  display: inline-flex;
}
.vegIconsqu{
  margin-right: 5px;
  top: 5px;
  position: relative;
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #60b246;
}
.vegIconCircle{
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #60b246;
}

/* **********Media Queries **************/

/* For Mobile Phone */
@media only screen and (max-width: 390px) {
  .subway-wrap{
    height: 100%;
  }
  .container{
    padding: 0px;
  }
  .subway{
    padding: 30px 30px 40px;
    margin: auto;
  }
  .subwayHeading{
    font-size: 40px;
  }
  .tagline{
    top: 10px;
    margin-bottom: 0;
    padding: 10px 0;
  }
  .subway-menu{
    width: 100%;
  }
  .menu-heading {
    padding: 40px 30px;
    font-size: 34px;
  }
  .menu-item {
    width: 80%;
    display: inline-block;
    justify-content: left;
    padding: 10px 30px;
    height: auto;
  }
  .menu-item-detail {
    width: 100%;
  }
  .subway-offer {
    margin: 10px 0;
  }
  .hr{
    width: 16rem;
    margin: 0px 0px 15px 30px;
  }
  .menu-item-image {
    width: 100%;
    display: flex;
  } 
  .modalBtn{
    top: 0px;
  }

  /* *******************Modal**************** */

  .content-container{
    position: absolute; 
    top: 60px;
  }
  .content{
    width: 330px;
  }
  .content-header{
    padding: 10px;
    height: 130px;
  }
  .topHeading {
    margin-bottom: 8px;
  }
  .subName {
    width: 83%;
    font-size: 22px;
    padding-left: 10px;
    overflow: hidden;
  }
  .heading-group {
    font-size: 14px;
    letter-spacing: 0px;
  }
  .dot {
  font-size: 11px;
  color: #000;
  }
  .heading-group {
  padding-top: 0px;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 15px;
  }
  .content-main {
    height: 260px;
  }
  .main-data {
    padding: 10px;
    padding-top: 15px;
  }
  .btnText{
    font-size: 16px;
  }

}

/* For Tablets */
@media only screen and (min-width: 391px) and (max-width: 600px) {
  .subway-wrap{
    height: 100%;
  }
  .container{
    padding: 25px;
  }
  .subway{
    padding: 20px 30px;
    margin: auto;
    height: auto;
  }
  .subwayHeading{
    font-size: 40px;
  }
  .tagline{
    top: 10px;
    margin-bottom: 0;
    padding: 10px 0;
  }
  .subway-menu{
    width: 100%;
  }
  .menu-heading {
    
    padding: 45px 50px;
    font-size: 36px;

  }
  .menu-item {
    width: 80%;
    /* display: inline-block; */
    /* justify-content: left; */
    padding: 10px 20px;
    /* height: auto; */
    margin: 0 30px;
  }
  .menu-item-detail {
    width: 100%;
  }
  .subway-offer {
    margin: 10px 0;
  }
  .hr{
    width: 22rem;
    margin: 0px 0px 15px 48px;
  }
  .menu-item-image {
    width: 40%;
  } 

   /* *******************Modal**************** */

   .content-container{
    position: absolute; 
    top: 60px;
  }
  .content{
    width: 410px;
  }
  .content-header{
    padding: 15px;
    height: 128px;
  }
  .topHeading {
    margin-bottom: 8px;
  }
  .subName {
    width: 83%;
    font-size: 22px;
    padding-left: 10px;
    overflow: hidden;
  }
  .subheading {
    display: inline-block;
  }
  .dot {
  font-size: 11px;
  color: #000;
  }
  .heading-group {
  padding-top: 0px;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 15px;
  }
  .content-main {
    height: 260px;
  }
  .main-data {
    padding: 15px;
    padding-top: 15px;
  }
  .btnText{
    font-size: 18px;
  }

}

@media only screen and (min-width: 601px) and (max-width: 930px) {

  .container{
    height: 120px;
    
  }
  .subway {
    padding: 0px;
    margin: auto 14%;
    height: 100%;
  }
  .menu-item{
    padding: 20px 0px;
  }
  .hr{
    width: 35rem;
    margin: -5px 0 15px;
  }

  /* *******************Modal**************** */

  .content-container{
    position: absolute; 
    top: 60px;
  }
  .content{
    width: 490px;
  }
  .content-header{
    padding: 17px;
    height: 128px;
  }
  .topHeading {
    margin-bottom: 8px;
  }
  .subName {
    width: 83%;
    font-size: 22px;
    padding-left: 10px;
    overflow: hidden;
  }
  .subheading {
    display: inline-block;
  }
  .dot {
  font-size: 11px;
  color: #000;
  }
  .heading-group {
    padding-top: 10px;
    font-size: 14px;
    letter-spacing: 0px;
  }
  .content-main {
    height: 275px;
  }
  .main-data {
    padding: 17px;
    padding-top: 18px;
  }
  .btnText{
    font-size: 18px;
  }

}

@media only screen and (min-width: 930px) and (max-width: 1230px){

  .subway {
    padding: 0px;
    margin: auto 23%;
    height: 100%;
  }
   /* *******************Modal**************** */

   .content-container{
    position: absolute; 
    top: 60px;
  }
  
  .content-header{
    padding: 17px;
    height: 128px;
  }
  .topHeading {
    margin-bottom: 18px;
}

  .content-main {
    height: 300px;
  }

}